* {
  padding:0;
  margin: 0;
  background-color: aliceblue;
  text-align: center; 
}

#title {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 1em;
}

 nav ul li {
  display: inline-flex;
  padding: 1.5em;

} 

.home {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;   
  } 
  
main {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  overflow: hidden;
  
} 

.card {
  position: relative; 
  width: 400px;
  height: 300px;
} 

 #name {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(99, 101, 101, 0.979);
  opacity: 90%;  
  color: white;
  font-size: small;
}

.card button {
  position: absolute;
  bottom: 0; 
  right: 42%;
  width:50px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: medium;
  background-color: rgba(241, 247, 247, 0.834);
  color:orangered;
}

.card button:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  opacity: 50%;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 0;
}

.close-button button {
  color: black;
  width: 25px;
  height:20px;
  opacity: 80%
}

.search-box {
  padding: 1em;
} 

input {
  width: 200px;
  height: 40px;
  background-color: rgba(189, 194, 194, 0.995);
  border: none;
  border-radius: 5px;
  color: black;
}


